@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");


/* tes */
* {
  font-family: "Nunito", sans-serif;
}


body {
  background-color: #ffffff;
}

.all {
  margin-left: 100px;
  margin-right: 100px;
}

.navbar {
  background-color: #fff;
  position: absolute;
  width: 1240px;
  height: 50px;
  margin-left: 100px;
  margin-right: 100px;
  top: 50px;
}

.navbar-nav .nav-link {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  color: #234cad;
}

.login {
  width: 135px;
  height: 50px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  color: #234cad;
  background-color: #fff;
  border-style: solid;
  border-color: #234cad;
}

.signup {
  background-color: #f2f6ff;
  width: 135px;
  height: 50px;
  border-radius: 25px;
  border-style: none;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #234cad;
}

#profile-btn {
  width: 135px;
  height: 50px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  line-height: 29px;
  text-align: center;
  color: #234cad;
  background-color: #fff;
  border-style: solid;
  border-color: #234cad;
}

#logout-btn {
  background-color: #f2f6ff;
  width: 135px;
  height: 50px;
  border-radius: 25px;
  border-style: none;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 29px;
  text-align: center;
  color: #234cad;
}

#home {
  margin-top: 130px;
  position: absolute;
  left: 0%;
  right: 9.82%;
  top: 0%;
  bottom: 5.89%;
  background: #f2f6ff;
  border-radius: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
}

.h1-home {
  position: absolute;
  left: 7.27%;
  right: 65.45%;
  top: 17.68%;
  bottom: 54.83%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #234cad;
  margin-top: 30px;
}

.p-home {
  margin-top: 40px;
  position: absolute;
  left: 7.27%;
  right: 70.62%;
  top: 49.26%;
  bottom: 42.23%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #234cad;
}

.button-home {
  width: 200px;
  height: 65px;
  border-radius: 32.5px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 55px;
  text-align: center;
  border-style: solid;
  background-color: #fff;
  color: #234cad;
  border-color: #234cad;
  margin-left: 100px;
  margin-top: 400px;
  position: absolute;
}

.button-home .get {
  color: #234cad;
  text-decoration: none;
  padding-bottom: 100px;
  justify-content: center;
  align-items: center;
}

.icon-file {
  position: absolute;
  left: 575px;
  right: 55.08%;
  top: 36px;
  bottom: 60.02%;
  background: #ffffff;
  border-radius: 20px;
  width: 75px;
  height: 75px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.icon-file img {
  margin-top: 20%;
  margin-left: 16px;
  margin-right: 100px;
  margin-bottom: 5%;
  color: #234cad;
}

.upload {
  position: absolute;
  left: 41.82%;
  right: 32.73%;
  top: 22.26%;
  bottom: 61.37%;
  background: #ffffff;
  border-radius: 20px;
}

.upload-h2 {
  position: absolute;
  height: 21px;
  left: 90px;
  right: 0%;
  top: calc(50% - 21px / 2 - 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #234cad;
}

.upload-p {
  position: absolute;
  height: 21px;
  left: 90px;
  right: 42.68%;
  top: calc(50% - 21px / 2 + 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #234cad;
}

.upload-pict {
  position: relative;
  left: 23px;
  top: 20px;
  bottom: 65px;
  background: #f2f6ff;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.upload-half {
  position: absolute;
  left: 50.95%;
  right: 52.87%;
  top: 0%;
  bottom: 0%;
}

.upload-picture {
  position: absolute;
  left: 30.27%;
  right: 53.38%;
  top: 17.33%;
  bottom: 65.14%;
}

.upp {
  position: absolute;
  left: 70.91%;
  right: 19.64%;
  top: 12.44%;
  bottom: 61.37%;
  background: #ffffff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.upp-pict {
  position: absolute;
  left: 40.82%;
  right: 22.55%;
  top: 30.82%;
  bottom: 73%;
  background: #f2f6ff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.upp-p {
  position: absolute;
  height: 13px;
  left: 25.46%;
  right: 1.11%;
  top: calc(50% - 13px / 2);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 90px;
  color: #234cad;
}

.upp-half {
  position: absolute;
  left: 22.09%;
  right: 21.82%;
  top: 17.18%;
  bottom: 90.36%;
}

.meeting {
  position: absolute;
  left: 41.82%;
  right: 38.11%;
  top: 42.72%;
  bottom: 31.1%;
  background: #ffffff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.meeting-pict {
  margin-left: 28px;
  margin-top: 50px;
}

.h2-meeting {
  position: absolute;
  height: 21px;
  left: 30%;
  right: 11.86%;
  top: 30%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #234cad;
}

.p-meeting {
  position: absolute;
  height: 21px;
  left: 30%;
  right: 0%;
  top: 45%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #234cad;
}

.ab {
  position: absolute;
  left: 63.71%;
  right: 10.84%;
  top: 42.72%;
  bottom: 40.92%;
  background: #ffffff;
  border-radius: 20px;
}

.ab-logo {
  position: absolute;
  height: 24px;
  left: 10.33%;
  right: 28.33%;
  top: calc(50% - 24px / 2);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #234cad;
}

.ab-name {
  position: absolute;
  height: 21px;
  left: 25%;
  right: 38.46%;
  top: calc(50% - 21px / 2 - 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #234cad;
}

.ab-p {
  position: absolute;
  height: 21px;
  left: 25%;
  right: 0%;
  top: calc(50% - 21px / 2 + 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #234cad;
}

.ab-time {
  position: absolute;
  height: 13px;
  left: 83.48%;
  right: 0%;
  top: calc(50% - 13px / 2 - 16px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #234cad;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.js {
  position: absolute;
  left: 41.82%;
  right: 32.73%;
  top: 73%;
  bottom: 10.64%;
  background: #ffffff;
  border-radius: 25px;
}

.js-logo {
  position: absolute;
  height: 24px;
  left: 10%;
  right: 35%;
  top: calc(50% - 24px / 2);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #234cad;
}

.js-name {
  position: absolute;
  height: 21px;
  left: 30%;
  right: 54.19%;
  top: calc(50% - 21px / 2 - 12px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #234cad;
}

.js-p {
  position: absolute;
  height: 21px;
  left: 30%;
  right: 0%;
  top: 0px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #234cad;
}

.js-time {
  position: absolute;
  height: 13px;
  left: 80.43%;
  right: 0%;
  top: calc(50% - 13px / 2 - 16px);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #234cad;
  mix-blend-mode: normal;
  opacity: 0.75;
}

.saved {
  position: absolute;
  left: 76.91%;
  right: 3.64%;
  top: 63.18%;
  bottom: 20.46%;
  background: #ffffff;
  border-radius: 25px;
  width: 350px;
  height: 100px;
}

.saved-icon {
  position: absolute;
  left: 10%;
  right: 24.8%;
  top: 26%;
  bottom: 10%;
}

.saved-background {
  left: 7.36%;
  right: 23.27%;
  top: 6.45%;
  bottom: 23.73%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 60px;
  height: 60px;
}

.saved-h2 {
  position: absolute;
  height: 21px;
  left: 0%;
  right: 49.11%;
  top: 20%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #234cad;
  width: 114px;
  height: 21px;
  margin-left: 90px;
}

.saved-p {
  position: absolute;
  height: 21px;
  left: 0%;
  right: 0%;
  top: 45%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #234cad;
  width: 224px;
  height: 21px;
  margin-left: 90px;
}

.message {
  position: absolute;
  left: 69.09%;
  right: 25.45%;
  top: 83.63%;
  bottom: 4.09%;
  background: #ffffff;
  border-radius: 20px;
  width: 75px;
  height: 75px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin-top: 30px;
}

.message-icon {
  position: absolute;
  left: 30.76%;
  right: 27.08%;
  top: 30.56%;
  bottom: 7.99%;
  width: 29.7px;
  height: 27.21px;
}

.cloud {
  margin-top: 60%;
  margin-bottom: 5%;
  color: #234cad;
}

.img {
  background-color: #f2f6ff;
  border-radius: 50%;
  padding: 2%;
  margin-left: 50px;
}

.useour .container .row .card {
  border-style: none;
}

.useour .container .row .card .card-content {
  width: 575px;
  height: 575px;
  background-color: #f2f6ff;
  border-radius: 60px;
  border-style: none;
}

.useour .container .row .card .card-content .content-1 {
  width: 438px;
  height: 125px;
  margin-top: 108px;
  margin-left: 69px;
  background-color: #ffffff;
  border-radius: 25px;
}

.useour .container .row .card .card-content .content-1 .lingkaran {
  position: absolute;
  width: 75px;
  height: 75px;
  border-radius: 100px;
  background-color: #f2f6ff;
  margin-top: 25px;
  margin-left: 20px;
}

.useour .container .row .card .card-content .content-1 .lingkaran .lingkaran-2 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: #234cad;
  border: 2.5px solid #ffffff;
  margin-left: 50px;
}

.useour .container .row .card .card-content .content-1 .lingkaran .lingkaran-2 p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 7px;
  line-height: 10px;
  color: #f7fafc;
}

.useour .container .row .card .card-content .content-1 .text .time {
  position: absolute;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #234cad;
  mix-blend-mode: normal;
  opacity: 0.75;
  margin-left: 380px;
  margin-top: 45px;
}

.useour .container .row .card .card-content .content-1 .lingkaran p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  color: #234cad;
}

.useour .container .row .card .card-content .content-1 .text h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #234cad;
  margin-top: 50px;
  margin-left: 200px;
}

.useour .container .row .card .card-content .content-1 .text p {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  color: #234cad;
  margin-top: 80px;
  margin-left: 240px;
}

.useour .container .row .card .card-content .content-2 {
  width: 350px;
  height: 100px;
  margin-top: 30px;
  margin-left: 113px;
  background-color: #ffffff;
  border-radius: 20px;
}

.useour .container .row .card .card-content .content-2 .lingkaran-3 {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background-color: #f2f6ff;
  margin-top: 25px;
  margin-left: 20px;
}

.useour .container .row .card .card-content .content-2 .lingkaran-3 .lingkaran-4 {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: #234cad;
  border: 2.5px solid #ffffff;
  margin-left: 50px;
}

.useour .container .row .card .card-content .content-2 .lingkaran-3 .lingkaran-4 p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 7px;
  line-height: 10px;
  color: #f7fafc;
}

.useour .container .row .card .card-content .content-2 .text-2 .time-2 {
  position: absolute;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #234cad;
  mix-blend-mode: normal;
  opacity: 0.75;
  margin-left: 300px;
  margin-top: 35px;
}

.useour .container .row .card .card-content .content-2 .lingkaran-3 p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 29px;
  color: #234cad;
}

.useour .container .row .card .card-content .content-2 .text-2 h2 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #234cad;
  margin-top: 40px;
  margin-left: 150px;
}

.useour .container .row .card .card-content .content-2 .text-2 p {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #234cad;
  margin-top: 65px;
  margin-left: 198px;
}

.useour .container .row .card .card-content .content-3 {
  width: 262px;
  height: 75px;
  margin-top: 30px;
  margin-left: 157px;
  background-color: #ffffff;
  border-radius: 15px;
}

.useour .container .row .card .card-content .content-3 .lingkaran-5 {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  background-color: #f2f6ff;
  margin-top: 15px;
  margin-left: 15px;
}

.useour .container .row .card .card-content .content-3 .lingkaran-5 .lingkaran-6 {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background: #234cad;
  border: 1.5px solid #ffffff;
  margin-left: 35px;
}

.useour .container .row .card .card-content .content-3 .lingkaran-5 .lingkaran-6 p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 4px;
  line-height: 6px;
  color: #f7fafc;
}

.useour .container .row .card .card-content .content-3 .text-3 .time-3 {
  position: absolute;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 7px;
  line-height: 10px;
  color: #234cad;
  mix-blend-mode: normal;
  opacity: 0.75;
  margin-left: 200px;
  margin-top: 0px;
}

.useour .container .row .card .card-content .content-3 .lingkaran-5 p {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 17px;
  color: #234cad;
}

.useour .container .row .card .card-content .content-3 .text-3 h2 {
  position: absolute;
  transform: translate(130%, 100%);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #234cad;
}

.useour .container .row .card .card-content .content-3 .text-3 p {
  position: absolute;
  transform: translate(60%, 200%);
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 16px;
  color: #234cad;
}

.useour .container .row .card .card-text {
  margin-left: 10px;
}

.useour .container .row .card .card-text h1 {
  margin-top: 20%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #234cad;
}

.useour .container .row .card .card-text p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #234cad;
}

.useour .container .row .card .card-text .get {
  width: 200px;
  height: 65px;
  border-radius: 32.5px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  border-style: solid;
  background-color: #fff;
  color: #234cad;
  border-color: #234cad;
}

.trans {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #234cad;
  margin-top: 10%;
}

.teks {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #234cad;
}

.container-inc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5rem;
}

.container-inc .h1-increase {
  width: 200px;
}

.container-inc .p-increase {
  width: 25px;
  margin-bottom: 4rem;
}

.h1-increase {
  position: absolute;
  left: 0%;
  right: 64.9%;
  top: 2500px;
  bottom: 52%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #234cad;
  height: 168px;
  width: 365px;
  margin-top: 200px;
  margin-left: 100px;
}

.p-increase {
  position: absolute;
  left: 0%;
  right: 70.77%;
  top: 52.35%;
  bottom: 38.61%;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #234cad;
  font-weight: 400;
  margin-top: 2685px;
  margin-left: 100px;
}

.button-increase {
  margin-top: 400px;
  margin-left: 100px;
}

.button-increase .get {
  width: 200px;
  height: 65px;
  border-radius: 32.5px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  border-style: solid;
  background-color: #fff;
  color: #234cad;
  border-color: #234cad;
  text-decoration: none;
}

.sign {
  background: #f2f6ff;
  border-radius: 60px;
  margin-top: 10%;
}

.our {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #234cad;
  padding-top: 75px;
  margin-left: 336px;
  margin-right: 335px;
}

.paragraf {
  padding-top: 25px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #234cad;
}

.input {
  margin-right: 370px;
  margin-left: 370px;
}

.control {
  margin-bottom: 75px;
  height: 60px;
  width: 400px;
  left: 0px;
  top: 0px;
  border-radius: 17.5px;
  padding-left: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.element {
  margin-top: 100px;
  background-color: #f2f6ff;
  text-align: center;
  height: 575px;
  width: 100%;
  left: 0px;
  top: 233px;
  border-radius: 60px;
}

.col {
  margin-left: 25px;
}

.coll {
  background-color: #fff;
  margin-top: 270px;
  margin-left: 7px;
  height: 100px;
  width: 350px;
  left: 107px;
  top: 503px;
  border-radius: 25px;
  padding: 26px;
  display: flex;
}

.img1 {
  height: 60px;
  width: 60px;
  left: 127px;
  top: 523px;
  border-radius: 50%;
  background-color: #f2f6ff;
}
.img1 img {
  height: 20px;
  width: 17px;
  left: 149px;
  top: 543px;
  border-radius: 50%px;
  margin-top: 20px;
  margin-bottom: 22px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.mess {
  margin-left: 20px;
  width: 100%;
}

.coll h1 {
  font-family: "Nunito";
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
  color: #234cad;
}

.coll p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #234cad;
  left: 0px;
  top: 24px;
  text-align: left;
  border-radius: nullpx;
}

.coll1 {
  margin-top: 25px;
  margin-bottom: 105px;
  margin-left: 282px;
  background-color: #fff;
  height: 75px;
  width: 75px;
  left: 382px;
  top: 628px;
  border-radius: 20px;
}

.coll1 img {
  height: 27.20516014099121px;
  width: 29.700000762939453px;
  left: 405px;
  top: 652px;
  border-radius: 0px;
  text-align: center;
  margin: 24px;
}

.row1 {
  width: 100%;
  display: flex;
}

.col1 {
  background-color: #fff;
  background-color: #fff;
  height: 75px;
  width: 75px;
  left: 382px;
  top: 628px;
  border-radius: 20px;
  margin-top: 55px;
}

.col1 img {
  text-align: center;
  margin-top: 23px;
  margin-bottom: 24px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.col2 {
  margin-left: 25px;
  margin-top: 30px;
  background-color: #fff;
  height: 100px;
  width: 350px;
  left: 583px;
  top: 263px;
  border-radius: 25px;
}

.col3 {
  background-color: #fff;
  height: 160px;
  width: 276px;
  left: 482px;
  top: 388px;
  border-radius: 25px;
  margin-top: 25px;
}

.col4 {
  height: 100px;
  width: 350px;
  left: 783px;
  top: 388px;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 25px;
  margin-left: 25px;
}

.col5 {
  height: 100px;
  width: 350px;
  left: 482px;
  top: 573px;
  border-radius: 20px;
  background-color: #fff;
  margin-top: 25px;
}

.col6 {
  height: 160px;
  width: 130px;
  left: 482px;
  top: 698px;
  border-radius: 25px;
  background-color: #fff;
  margin-top: 25px;
}

.footer {
  background-color: #fff;
  padding: 70px 0;
}

.footer .container {
  width: 941px;
  height: 166px;
  margin-left: 150px;
  margin-right: 100px;
}

.footer-col h4 {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 49px;
  color: #234cad;
}

.footer-col p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  color: #234cad;
}

@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 40px;
  }
  .container {
    margin-bottom: -100px;
  }
}

@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}
